/** @format */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	/* background-color: aqua; */
	color: #555;
	height: 100%;
}

/* header section */

.page-header-container {
	display: flex;
	justify-content: flex-end;
	padding: 8px;
}

.header-contents {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 24px;
}

.apps-launcher-icon {
	height: 16px;
}

.headshot {
	height: 30px;
	border-radius: 50%;
}

.search-section {
	width: 700px;
	/* border: 1px solid black; */
	margin: 30px auto;
	text-align: center;
}

.logo {
	margin: 10px auto;
}

.search-bar {
	width: 90%;
	border-radius: 30px;
	padding: 16px;
	border: 1px solid #555;
	margin: 10px auto 40px;
}
.search-bar:hover {
	cursor: pointer;
}
.search-icons-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.search-icons {
	height: 18px;
}

.right-side-search-icons {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: 20px;
}

.buttons {
	font-size: 16px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 60px;
	margin-bottom: 40px;
}

.button-item:hover {
	cursor: pointer;
	border: 1px solid #555;
	padding: 8px;
	border-radius: 4px;
}

.language-container {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
}

.language-links {
	margin-right: 10px;
	text-decoration: none;
}

/* Footer */
.footer {
	/* border: 1px solid black; */
	background-color: #e9e7e6;
	margin-top: 180px;

	/* height: 100px; */
}

.location,
.bottom-footer {
	padding: 10px;
}

.bottom-footer {
	display: flex;
}
