/** @format */

/* body {
	background-color: yellow;
} */

header {
	background-color: yellow;
	display: flex;
	justify-content: flex-end;
	padding: 8px;
}

.header-contents {
	display: flex;
	gap: 4px;
}

.appsLauncher-img,
headshot-img {
	height: 16px;
}
